extends ../layout

block content
	h1 Parranoid

	#client
	
		#servers
			ul#server-list(data-bind='foreach: servers')
				li
					span(data-bind='text: connection')
					a(href='#', data-bind='click: $root.removeServer') X
			a(href='#', data-bind='click: $root.addServer') Add Server

		#rooms
			ul
				// ko foreach: roomList
				li
					a(data-bind='attr: {href: "#" + identifier()}, text: name')
				// /ko
				li
					a(href='#tabs-join') +

			// ko foreach: roomList
			.room(data-bind='attr: {id: identifier()}')
				.toolbar
					p Topic: I like turtles
					a(href='#', data-bind='click: $root.partRoom') Close
				.users
					ul(data-bind='foreach: users')
						li(data-bind='text: $data')
				.messages
					// ko foreach: messages
					.message
						span.sender(data-bind='text: nick')
						span.text(data-bind='text: text')
					// /ko
					input.messageInput(type='text', data-bind='attr: {id: "msg_" + identifier()}')
					button.send(type='button', data-bind='click: $root.sendMessage') Send		
			// /ko
			#tabs-join
				label(for='join-server') Server
				select#join-server(data-bind='options: $root.servers, optionsText: "connection", optionsValue: "connection"')

				label(for='join-room') Room
				input#join-room(type='text', value='#ix2-test', data-bind='event: {keyup: $root.keyupJoinRoom}')	

				button#join-button(type='button', data-bind='click: $root.joinRoom') Join

block style
	!= renderStyles('client')

block script
	script(type='text/javascript', src='socket.io/socket.io.js')
	!= renderJs('client')
