body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  a
  	color: #00B7FF
  .userInfo
  	width:300px
  	float:right
  .mainNav
  	list-style:none
  	overflow:auto
  	padding-left:0
  	li
  		float:left
  		margin-right:5px
