extends ../layout

block content
  h1 Parranoid
  p Edit your IRC credentials
  form(method='post',action='/credentials')
    label(for='irc_username') Username
    input(name='irc_username', type='text', value='#{current_user.irc_username}')

    label(for='irc_password') Password
    input(name='irc_password', type='password', value='__default')

    button(type='submit') Save