body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body a {
  color: #00b7ff;
}
body .userInfo {
  width: 300px;
  float: right;
}
body .mainNav {
  list-style: none;
  overflow: auto;
  padding-left: 0;
}
body .mainNav li {
  float: left;
  margin-right: 5px;
}
