#client {
  border: solid 1px #000;
  overflow: auto;
}
#client #servers {
  float: left;
  max-width: 300px;
}
#client #servers #server-list {
  padding-left: 0;
}
#client #servers #server-list li {
  list-style: none;
}
#client #servers #server-list li .connected {
  color: #008000;
}
#client #servers #server-list li .disconnected {
  color: #f00;
}
#client #rooms {
  float: left;
  min-width: 400px;
}
#client #rooms .room .toolbar {
  clear: both;
  border-bottom: solid 1px #000;
}
#client #rooms .room .users {
  float: left;
  width: 100px;
  border-right: solid 1px #000;
  height: 100%;
}
#client #rooms .room .messages {
  float: left;
  width: 300px;
}
